@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* background-color: black; */
}

body{
    font-family: 'poppins';
}

.partOne{
    width: 100vw;
    height: auto;
    padding-bottom: 5vmin;
    background-image:url(images/starry.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

img{
    margin-top: 2.1vmin;
    margin-left: 2vmin;
    position: absolute;
    left: 0.5vmin;
    display: inline-block;
    height: 7vmin;
    width: 7vmin;
    float: left;

}
.partSix img{
    margin-top: 1vh;
    margin-left: 4vmin;
    position: absolute;
    left: 0.5vmin;
    display: inline-block;
    height: 7vmin;
    width: 7vmin;
    float: left;
}

.partSix .about h1{
    margin-top: 0.8vmin;
    margin-left: 6.5vmin;
    color:rgb(253, 173, 74);
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    border-radius: 0.5vmin;
}

li{
    float: right;
    /* border-right:1px solid #bbb; */
}

li:last-child {
    float: left;
    border-right: none;
    /* border-left:1px solid #bbb; */
  }

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-weight:800;
    font-size: 2.9vmin;
    margin-top: 1.2vmin;
    transition: color 2s;
    position: relative;
    margin: 2vmin 0.5vmin;
}

li a:hover{
    color:rgb(66, 128, 222);
}

.line{
    width: 0;
    height: 0.45vmin;
    background-color: rgb(66, 128, 222);
    position: absolute;
    bottom: 7%;
    left:15%;
    transition: width 2s;
    
}
li a:hover .line{
    width: 70%;
}

.grid{
    height: 70.6vmin;
    width:  70.6vmin;
    border: 0.3vmin dashed rgb(74, 87, 130);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: auto;
    box-shadow:rgba(14, 14, 188, 0.977) 0px 7px 29px 0px;
}

.grid div{
    height: 4.66vmin;
    width: 4.66vmin;

}

.game h1{
    text-align: center;
    font-size: 7.5vmin;
    text-shadow: rgb(9, 99, 209) 4px 5px 15px;
    color: rgb(203, 221, 237);
}

.invader{

    /* background-color: purple; */
    margin: 0;
    background-image: url(/images/UFOs.png);
    background-size: 150% 150%;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 2vmin; */
}

.shooter{
    /* background-color: orangered; */
    margin: 0;
    background-image: url(/images/planes.png);
    background-size: 180% 180%;
    background-repeat: no-repeat;
    background-position: center;
}

.laser{

    /* background-color: orange; */
    margin: 0;
    background-image: url(/images/missiles.png);
    background-size: 70% 120%;
    background-repeat: no-repeat;
    background-position: center;
}

.boom{
    margin: 0;
    background-image: url(/images/explosions.png);
    background-size: 150% 150%;
    background-repeat: no-repeat;
    background-position: center;

}

.start{
    width: 15vw;
    height: 9vh;
    background-color: rgb(91, 91, 177);
    border: 0.5vmin solid black;
    text-align: center;
    font-size:3vmin;
    cursor:pointer;
    margin-left: 42.5vw;
    border: 0.8vmin solid rgb(28, 28, 145);
    background-color: transparent;
    font-size: 4vmin;
    transition: all 2s;
    color: rgb(197, 197, 234)
}

.game h3{
    font-size: 3vmin;
    text-align: center;
    margin: 0.8vmin auto;
    color: rgb(197, 197, 234);
}

.start:hover{
    transition: all 2s;
    background-color: rgb(28, 28, 145);
}

@media screen and (max-width: 800px) {
    ul li:last-child,
    ul li {
        float: none;
        border-bottom:1px solid #bbb;
    }
}

/* part Two */
.partTwo{
    width: 100vw;
    height: auto;
    padding: 5vmin;
    /* background-image: linear-gradient(135deg, bisque, rgb(255, 166, 2)); */
    background-image: url(images/line.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ruleBox{
    width: 85%;
    height: auto;
    margin: auto;
    padding-bottom:5vmin;
    border: 1vmin solid rgb(167, 167, 220);
    background-image:linear-gradient(67deg, rgb(117, 117, 180), rgb(62, 62, 198));
    box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 15px;
}
.ruleBox h1{
    color: rgb(14, 50, 113);
    text-align: center;
    font-size: 8vmin;
    text-shadow: white 1px 0 10px;
}

.rule{
    width: 90%;
    height: auto;
    margin: auto;
    border: 0.8vmin solid black;
    color: black;
    padding: 3vmin;
    background-color: beige;
}

.rule ul{
    list-style-type: disc;
}

.rule ul li{
    color: black;
    float: left;
    margin-bottom: 2vmin;
    font-size: 3vmin;
    font-weight: 300;
    display: block;
}

.rule ul li i{
    color: orangered;
    margin-right: 1vmin;
}

.partFour{
    margin:0;
    overflow:hidden;
    height: 80vh;
    width: 100vw;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.fourleft{
    height: 100%;
    width: 60vw;
    background-image: linear-gradient(45deg, rgb(20, 20, 63),rgb(87, 189, 249));
    text-align:center;
    justify-content: space-evenly;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
}
.fourright{
    height: 100%;
    width:40vw;
    /* justify-content: space-evenly; */
    align-items:center;
    justify-content:center;
    background-image:url(images/codes.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 10vmin 5vmin 3vmin 5vmin;
}

.fourleft h1{
    text-align: center;
    font-size:10.5vmin;
    color: rgb(2, 26, 62);
    margin: 10vmin 5vmin 0 5vmin;
    vertical-align: middle;
    text-shadow:  rgb(15, 64, 110) 1px 10px 10px;

}

.fourleft p{
    color: rgb(2, 26, 62);
    height: 10%;
    /* margin: 5vh 1%; */
    font-size: 3vmin;
    float: left;
    display: block;
    background-color:rgb(21, 106, 185);
    padding: 2vmin;
    border-radius:1.5vmin;
    box-sizing: border-box;
    margin: 1vmin;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fourright h1{
    font-size: 3.5vmin;
    /* margin: 10vmin 5vmin 3vmin 5vmin; */
    color: rgb(131, 209, 236);
}

.Contact{
    width: 45%;
    height: 15%;
    background-color:rgb(53, 139, 219);
    border-radius: 8vw;
    margin: 20vmin auto auto 22.5%;
    text-align: center;
    /* padding: 3.3%; */
    box-sizing: border-box;
    font-size: 3.5vmin;
    font-weight: 700;
    transition: box-shadow 0.7s;
    cursor: pointer;
}


.Contact:hover{
    box-shadow: rgba(22, 147, 236, 0.781) 2px 5px 10px
}



/* Part 5: */

.partFive{
    margin:0;
    height: 10vh;
    width: 100vw;
    color: black;
    box-sizing: border-box;
    background-color:antiquewhite;
    vertical-align: middle;
    padding: 2vh;
}
.partFive h1{
    font-size: 3.2vmin;
    text-align: center;
    vertical-align: middle;
    /* margin: 5vmin; */
    display: block;
    background-image: linear-gradient(to left, rgb(80, 184, 249),rgb(10, 10, 126));
    /* border: 0.6vmin solid rgb(13, 21, 70); */
    color:rgb(255, 208, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 6px 10px 15px;
    border-radius: 1vmin;
    font-weight: 200;
}


/* partSix: */
.partSix{
    margin:0;
    height: 50vh;
    width: 100vw;
    color: rgb(199, 197, 197);
    position: relative;
}

.partSix .footer-content{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.footer-section{
    background-color:rgb(44, 42, 42);
    /* border: 0.5vmin solid black; */
    height: 100%;
    width: 33.3333333333333333333333333%;
}

.partSix .footer-bottom{
    background-color:rgb(57, 56, 56);
    color: rgb(63, 62, 62);
    height:5vh;
    width: 100%;
    text-align:center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 3vh;
}
.partSix .footer-section{
    padding-left: 5vmin;
    padding-top: 3vmin;
}

.partSix .footer-content .about p{
    margin-top: 3vmin;
}

.partSix .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
}

.partSix .footer-content .about .contact{
    margin-bottom: 5vmin;
}

.partSix .footer-content .about .socials a i{
    border: 0.4vmin solid gray;
    width: 6vmin;
    height: 6vmin;
    font-size: 4vmin;
    text-align: center;
    border-radius: 1vmin;
    color: gray;
    vertical-align:middle;
    padding-top: 0.5vmin;
    display: inline-block;
    transition: border-color 1s, color 1s;
}

.partSix .footer-content .about .socials a i:hover{
    border-color: white;
    color: white
}

.quickLinks ul{
    margin-bottom: 2vmin;
    /* display: block; */
    font-size: 1.2em;
    list-style-type: disc;
    justify-content: space-evenly;
}

.quickLinks ul a{
    display: block;
    margin-left: 5vmin;
    transition: all 0.3s;
}

.quickLinks ul a:hover{
    color: white;
    margin-left: 8vmin;
    transition: all 0.3s;
}

@media screen and (max-width: 1024px) {
    ul li:last-child,
    .partOne ul li {
        float: none;
        border-bottom:1px solid #bbb;
    }
    .bigFrame{
        width: 95vw;
        margin-bottom: 5vh;
        height: 120vw;
    }
    .partThree{
        height: 400vw;
    }
    .footer-section{
        width: 100%;
    }
    .partFour{
        display: block;
        height: 125vh;

    }
    .fourleft{
        height: 60%;
        width: 100%;
        border-bottom:2vh solid rgb(57, 56, 56);
    }
    .fourright{
        height: 40%;
        width:100%;
    }
    .fourleft p{
        padding: 2vh;
    }

    .partSix ul li{
        color: white;
        border-bottom:none;
    }
}
